button {
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.primary {
    background-color: #FF3333;
    color: #ffff;
    text-transform: uppercase;
    padding: 15px 50px;
}

.secondary {
    background-color: #90AFC5;
    padding: 10px 30px;
}