<div class="container">
    <h1 class="header">Bachata Portal</h1>
    <div class="carousel">
      <ngx-slick-carousel
        class="carousel"
        [config]="slickCarouselConfig"
        (beforeChange)="beforeChange($event)"
      >
        @for (video of videos; track video.id) {
          <app-video-player
            ngxSlickItem
            [video]="video"
            [width]="600"
          ></app-video-player>
        }
      </ngx-slick-carousel>
    </div>
    <app-button [buttonText]="'Explore'" [buttonImportance]="'primary'"  [routerLinkAddress]="'/tutorials'"></app-button>
 </div>
