<h2>Events</h2>
<div class="button-container">
    <app-button [buttonText]="'Add event'" [buttonImportance]="'secondary'" [routerLinkAddress]="'/events/new'"></app-button>
</div>
<div class="events">
    @for (event of events$ | async; track event) {
    <div class="event-card">
        <div class="event-card__header">
            <div class="event-card__header-name">{{event.event.name}}</div>
            <div class="event-card__header-date">{{event.event.date | formatDateTime}}</div>
        </div>
        <div class="event-card__place-price">
            <div>{{event.event.country}}, {{event.event.city}}, {{event.event.venue}}</div>
            <div>{{event.event.priceFull.price}} {{event.event.priceFull.currency}}</div>
        </div>
        <div>
            <div>{{ event.event.workshop? 'Workshop included' : 'No workshop'}}</div>
        </div>
    </div>
    }
</div>