nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}


a {
    text-transform: uppercase;
    text-decoration: none;
    color: #3E363F;
    font-weight: bold;
    font-size: 20px;
}

a.link-active {
    text-decoration: underline;
    text-decoration-color:#FF3333;
    text-underline-offset: 10px;
    text-decoration-thickness: 4px;
}