
@font-face {
  font-family: 'Open Sans';
  src: url('../src/assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../src/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  background: #C4DFE6;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 100px;
    margin: 0;
}

.slick-dots li button:before {
  color: #3E363F !important;
}

.slick-dots li.slick-active button:before {
  color: red !important;
}
